/.idea/shelf/Uncommitted_changes_before_Update_at_2024_10_7_11_16__Changes_.xml
/Java/TestProject/.idea/vcs.xml
/.idea/workspace.xml
/Leetcode.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2024_10_7_11_16_[Changes]/shelved.patch
/.idea/vcs.xml
